.page{

    background-image: url(https://s1.bwallpapers.com/thumbs2/2014/07/29/halo-3hd_09274246.jpg);
   width: 100vw; 
     background-repeat: no-repeat;
     background-size: cover;
     height: 100vh;
}