.top-bar{
    display: flex;
    flex-direction: row;
    align-items: center;


}
.parte12{
 display: flex;
 flex-direction: row;
 margin: 20px;
 font-size: 20px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.logo{
    display: flex;
    flex-direction: row;
    width: 180px;
    margin-left: 55px;
    
}

.parte22{
    display: flex;
    flex-direction: row;
    margin-left: 680px;
    font-size: 20px;
    font-weight: 400;
    color: aliceblue;    
}
.image{
    margin-right: 15px;
    align-items: center;
    margin-top: 5px;
}
.link{
    color: aliceblue;
}
.link:hover   {
  /* border: 4px solid rgb(134, 130, 130); Adiciona uma borda branca ao redor da foto */
  transform: scale(1.20);  /* Aumenta levemente o tamanho do card */
}
.parte22:hover  {
  /* border: 4px solid rgb(134, 130, 130); Adiciona uma borda branca ao redor da foto */
  transform: scale(1.20);  /* Aumenta levemente o tamanho do card */
}